<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.com.icheckin.icheckin_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icheckin_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_icheckin_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AddAccountActivity"
            android:label="@string/add_new_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Secondary" />
        <activity
            android:name=".view.ModifyAccountActivity"
            android:label="@string/modify_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Secondary" />
        <service android:name=".utils.service.IcheckinService" />
    </application>

</manifest>